In [1]:
m = [[1, 2, 3], [4, 5, 6]]

In [2]:
print(m[1][1])

5

In [3]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

1
2
3
4
5
6

# Matrix Operations

## Implementing Matrix Operations (Addition and Subtraction),

In [5]:
X = [[1,2,3], [4,5,6], [7,8,9]]

In [6]:
Y = [[10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [7]:
R = [[0,0,0],[0,0,0],[0,0,0]]

In [8]:
# Addition
#iterate through rows
for i in range(len(X)):
    # iterate through columns
    for j in range(len(X[0])):
        R[i][j] = X[i][j] + Y[i][j]
print(R)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [9]:
# Subtraction
# iterate through rows
for i in range(len(X)):
    # iterate through columns
    for j in range(len(X[0])):
        R[i][j] = X[i][j] - Y[i][j]
print(R)

[[-9, -9, -9], [-9, -9, -9], [-9, -9, -9]]

## Matrix Multiplications

In [15]:
X = [[1,2], [4,5], [3,6]]
Y = [[1,2,3,4], [5,6,7, 8]]

In [16]:
R = [[0,0,0,0],[0,0,0,0],[0,0,0,0]]

In [17]:
# Multi
# iterate through rows of X
for i in range(len(X)):
    # iterate through columns of Y
    for j in range(len(Y[0])):
        # iterate through rows of Y
        for k in range(len(Y)):
            R[i][j] += X[i][k] * Y[k][j]
            print(X[i][k], Y[k][j])
        
print(R)

1 1
2 5
1 2
2 6
1 3
2 7
1 4
2 8
4 1
5 5
4 2
5 6
4 3
5 7
4 4
5 8
3 1
6 5
3 2
6 6
3 3
6 7
3 4
6 8
[[11, 14, 17, 20], [29, 38, 47, 56], [33, 42, 51, 60]]

# Dictionary Keys and Values

In [18]:
employee = {
    'name': "Jack Nelson", 
    'age': 32,
    'department': "sales"
}

In [19]:
movie = {
    "title": "The Godfather",
    "director": "Francis Ford Coppola",
    "year": 1972,
    "rating": 9.2
}

In [20]:
print(movie['year'])

1972

In [21]:
movie['rating'] = (movie['rating'] + 9.3)/2
print(movie['rating'])

9.25

In [22]:
movie

{'title': 'The Godfather',
 'director': 'Francis Ford Coppola',
 'year': 1972,
 'rating': 9.25}

In [23]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']

In [24]:
movie

{'title': 'The Godfather',
 'director': 'Francis Ford Coppola',
 'year': 1972,
 'rating': 9.25,
 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan']}

In [25]:
employees = {}
employees['name'] = 'Sujan Patel'
employees['age'] = 33
employees['department'] = 'HR'

In [26]:
employees

{'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}

In [30]:
1 + 3j

(1+3j)

## Using the zip() Method to Manipulate Dictionaries

In [31]:
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

In [32]:
orders = zip(items,quantity)
print(orders)

<zip object at 0x109514370>

In [33]:
print(list(orders))

[('apple', 5), ('orange', 3), ('banana', 2)]

In [35]:
orders = zip(items,quantity)
print(tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

In [36]:
orders = zip(items,quantity)
print(dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}

## Accessing a Dictionary Using Dictionary Methods

In [37]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [38]:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [39]:
list(orders.items())

[('apple', 5), ('orange', 3), ('banana', 2)]

In [40]:
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

In [41]:
t_mixed = 'apple', True, 3
print(t_mixed)

('apple', True, 3)

In [42]:
t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

(('apple', 3), ('orange', 2), ('banana', 5))

In [43]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [44]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'apple', 'orange', 'banana'}

In [45]:
s4.add('pineapple')
print(s4)

{'apple', 'orange', 'pineapple', 'banana'}

## Implementing Set Operations

In [47]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

In [48]:
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [49]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [50]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [51]:
print(s6 - s5)
print(s6.difference(s5))

{5, 6}
{5, 6}

In [52]:
print(s5 <= s6)
print(s5.issubset(s6))
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [53]:
print(s7 < s8)

True

In [54]:
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

False
False

In [55]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False

In [56]:
nested_list = [ [1, 2], [3, 4] ]

outer_range = range(len(nested_list))

for i in outer_range:

    inner_range = range(len(nested_list[i]))

    for j in inner_range:

        print(nested_list[j] [i])

1
3
2
4

In [57]:
a = list(range(10))
a[1:8:2]

[1, 3, 5, 7]

In [58]:
list1 = [0]
list2 = [1]

In [59]:
(list1 + list2)*2

[0, 1, 0, 1]

In [60]:
set1 = {1, 2, 3, 3}
set2 = {3, 2, 1}
print(set1 == set2)

True

In [61]:
['alpha'] + ['beta'] + ['gamma']

['alpha', 'beta', 'gamma']

In [62]:
greek_letters = ['alpha', 'beta']
greek_letters + 'gamma'

TypeError: can only concatenate list (not "str") to list